html {
    scroll-behavior:smooth !important;
  }
  .line{
    border-bottom: #FF5E25 5px solid;
    border-radius: 30%;
    margin-bottom: 20px !important;
    max-width: 24%;
    margin: auto;
}

  /* navbar */
  /* Styles for KI element */
  .desk-nav .navbar {
    background-color: white !important;
    box-shadow: 5px 5px 15px 5px rgb(217, 216, 216);
    z-index: 1;
  }
  
.desk-nav .nav-link:hover{
  color: #FF5E25 !important;
  animation-duration: 0.15s !important;
}

  #KI {
    margin-left: 20px !important;
    width: 50px;
    /* box-shadow: 5px 5px 15px 5px rgb(217, 216, 216); */
    /* border-radius: 25px; */

    /* Width */
  }
  #mob-nav .nav-link p,i {
    font-size: 15px !important;
  }
   /* Styles for active elements */
  .desk-nav .nav-item .active {
    font-weight: bold !important;
    color: #FF5E25 !important;
    /* border-bottom: 5px solid  #FF5E25; */
  
  }
 #mob-nav .nav-item .active{
  color: #FF5E25 !important;
 }
  .nav-link{
    color: black !important;
    font: bold !important;
    font-size: 20px;
  }
  .desk-nav .navbar {
    background-color: none !important;
    /* Background color */
    position: sticky !important;
    /* Sticky positioning */
    /* box-shadow: 5px 5px 15px 5px rgb(217, 216, 216); */
    /* Shadow effect */
    margin-bottom: 10px;
    font-size: small !important;
  }
  
  
  /* mob nav */
  .mob-head {
    display: none;
  }
  
  #mob-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgb(138, 137, 137);
    transition: transform 0.30s ease, opacity 0.30s ease; /* Added opacity transition */
    opacity: 1;
  }
  
  .hide-navbar {
    transform: translateY(100%);
    opacity: 0; /* Hide the navbar with opacity */
  }
  
  
  #mob-nav .navbar {
    justify-content: center !important;
    padding: 5px 0;
  }
  
  #mob-nav .navbar-nav {
    list-style: none;
    padding: 0;
    display: block !important;
  }
  
  #mob-nav .nav-item {
    margin: 0 10px;
  }
  
  #mob-nav .nav-link {
    text-decoration: none;
    color: #000;
    padding: 15px 15px;
  }
  
  #mob-nav .nav-link.active {
    color: #FF5E25;
    font-weight: bold !important;
  }
  
  #mob-nav {
    display: none;
  }
  @media (max-width: 992px) {
    
    .mob-head {
        display: block;
        background-color: white;
        box-shadow: 5px 5px 15px 5px rgb(217, 216, 216);
    }
  
    .desk-nav {
        display: none;
    }
  
    #mob-nav {
        z-index: 9999;
        display: block !important;
        /* Display the navbar for mobile and tablet devices */
        font-size: 15px;
        text-align: center !important;
        /* justify-content: space-; */
  
    }
  
    #mob-nav .navbar-nav {
        /* display: inline-block !important; */
        flex-wrap: wrap !important;
        /* Wrap the nav items for small screens */
        justify-content: space-evenly !important;
  
    }
  
    #mob-nav .nav-item {
        margin: 2%;
    }
  
    #mob-nav i {
        font-size: 25px;
    }
  
    #mob-nav p {
        text-align: center !important;
        margin: 7px 8px 0px 8px;
        padding: 0;
    }
  
    #mob-nav .nav-link {
        margin: 0;
        padding: 0%;
    }
  }
 
  /* navend */
 
  h1.logo {
    margin: auto !important;
    
  }
  
  
  
  /* Styles for the logo */
  .logo {
    /* Coding for logo */
    color: #FF5E25;
    /* Text color */
    font-size: 200%;
    /* Font size */
    padding-left: 30%;
    /* Left padding */
    padding-right: 24%;
    /* Right padding */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  }
  
  /* Styles for the span element */
  span {
    /* Coding for Logo IT letters in black */
    color: black;
    /* Text color */
  }
  
  /* Body styles */
  body {
    overflow-x: hidden;
    /* Hide horizontal overflow */
  }
  
  /* Styles for various elements including article, list, etc. */
  article,
  #list,
  #our-goal,
  p {
    /* Coding for Company intro */
    margin-top: 0.1%;
    /* Top margin */
    padding: 3%;
    /* Padding */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Font family */
    font-size: 20px;
    /* Font size */
    text-align: justify;
    /* Text alignment */
    margin: 12px;
    /* Margin */
  }
  
  /* Styles for the about section */
  #about {
    padding: 1%;
    /* Padding */
    font-size: 100%;
    /* Font size */
  }
  
  /* Styles for unordered lists */
  ul {
    font-size: 120%;
    /* Font size */
  }
  
  /* Styles for card images */
  
  .card .card-img-top {
    width: 200px;
    /* Image width */
    margin: auto;
    /* Centering */
    padding: 0px !important;
    /* Padding */
    object-fit: cover;
    
  }
  
  /* Styles for h1 */
  h1 {
    text-align: center;
    /* Text alignment */
  }
  
  /* Styles for h2 */
  h2 {
    margin-top: 50px;
    /* Top margin */
    margin-bottom: 30px;
    /* Bottom margin */
    font-size: 30px;
    /* Font size */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Font family */
    text-align: center;
    /* Text alignment */
    margin-left: 25%;
    /* Left margin */
    padding: 0;
    /* Padding */
    border-bottom: #FF5E25 2px solid;
    /* Border bottom */
    width: 50%;
    /* Width */
    text-transform: uppercase;
    /* Text transform */
    font-weight: 900;
    /* Font weight */
  }
  
  /* Hover styles for h2 */
  h2:hover {
    border-bottom: black 2px solid;
    /* Border color */
    background-color: #FF5E25;
    /* Background color */
    transition: 0.8s;
    /* Transition effect */
    border-radius: 10px;
    /* Border radius */
  }
  
 
  /* Styles for vik class */
  .vik {
    height: 600px;
    /* Height */
    width: 750px;
    /* Width */
    text-align: center;
    /* Text alignment */
    float: right;
    /* Float right */
  }
  
  /* Styles for images inside vik class */
  .vik img {
    height: 100%;
    /* Height */
    width: 100%;
    /* Width */
    padding-left: 15%;
    /* Left padding */
  }
  
  /* Styles for container class */
  .container {
    font-size: x-large;
    /* Font size */
    text-align: left;
    /* Text alignment */
  }
  
  /* Styles for checkmark class */
  .checkmark {
    list-style: none;
    /* No list style */
    display: flex;
    /* Flex display */
    width: 65%;
    /* Width */
    justify-content: space-between;
    /* Horizontal space between items */
    padding-top: 0%;
    /* Top padding */
    padding-bottom: 10%;
    /* Bottom padding */
    font-size: 20px;
    /* Font size */
    margin: 0%;
    /* Margin */
  }
  
  /* Styles for checkmark elements */
  .checkmark i,
  .fa-check-circle {
    color: #FF5E25 !important;
    /* Text color */
  }
  /* Styles for checkmark1 element */
 
  .checkmark1 {
    max-width: 75%;
    font-weight: bold !important;
    margin: auto !important;
    /* Margin */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Font family */
    font-size: 50px;
    /* Font size */
    text-align: justify;
    /* Text alignment */
  }
  
  
  
  /* Hover styles for cards */
  .card:hover {
    filter: brightness(120%);
    /* Brightness filter */
    filter: contrast(120%);
    /* Contrast filter */
    filter: drop-shadow(0px 0px 10px black);
    /* Drop shadow */
    transition: 0.5s;
    /* Transition */
    transform: scale(1.02);
    /* Scale transformation */
  }
  
  /* Styles for cards */
  .card {
    margin: auto !important;
    /* Margin */
    margin: 2% !important;
    /* Margin */
    border-radius: 20px !important;
    /* Border radius */
    outline: 1px solid slategray;
  }
  
  /* Media query for screen width up to 700px */
  @media screen and (max-width:700px) {
    .mob-head{
        background-color: white;
        box-shadow: 5px 5px 15px 5px rgb(217, 216, 216);
    }
    
    /* Styles for cards */
    .card {
        height: 20%;
        /* Height */
        width: 90%;
        /* Width */
        margin: auto !important;
        /* Margin */
        margin-bottom: 20px !important;
        /* Bottom margin */
    }
  
    /* Styles for logo */
    .logo {
        /* Coding for logo */
        color: #FF5E25;
        /* Text color */
        font-size: 100%;
        /* Font size */
        padding-left: 10%;
        /* Left padding */
        padding-right: 10%;
        /* Right padding */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* Font family */
        margin: 0;
        /* Margin */
    }
  
    /* Styles for KI element */
    #KI {
      
        padding-left: 1%;
        /* Left padding */
        width: 80px;
        /* Width */
        /* height: 30px; */
        /* Height */
       
    }
  
    /* Styles for h2 */
    h2 {
        font-size: 20px;
        /* Font size */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* Font family */
        text-align: center;
        /* Text alignment */
        margin-left: 25%;
        /* Left margin */
        padding: 0;
        /* Padding */
        border-bottom: #FF5E25 2px solid;
        /* Border bottom */
        width: 50%;
        /* Width */
        text-transform: uppercase;
        /* Text transform */
    }
  
    /* Styles for vik class */
    .vik {
        height: 100%;
        /* Height */
        width: 100%;
        /* Width */
        float: right;
        /* Float right */
        margin-left: 20%;
        /* Left margin */
    }
    .mob-head {
        
        margin-bottom: 2%;
        box-shadow: 5px 5px 15px 5px rgb(217, 216, 216);
        font-size: 5px !important;
    }
  .logo{
    font-size: 20px;
  }
 
  .checkmark , .checkmark i{
    font-size: 17px;
    width: 100%;
    text-align: center;
  }
  }
  
 
  @media screen and(max-width: 912px){
    .mob-head {
        margin-bottom: 2%;
        box-shadow: 5px 5px 15px 5px rgb(217, 216, 216) !important;
        font-size: 5px !important;
    }
  }

  /* cctv services page */
  .col-md-8 p{
    /* margin:0 !important; */
    padding: 0 !important;
  }
  .col-md-8 , .col-md-8 p{
    font-size: 17px;
  }
  /* paginations */

  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .pagination {
      flex-wrap: wrap;
    }
  
    .pagination .page-item {
      flex: 1 1 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 576px) {
    .pagination {
      flex-direction: column;
      align-items: center;
    }
  
    .pagination .page-item {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  
  .pagination .page-item.active .page-link {
    background-color: #FF5E25;
    border-color: #FF5E25;
    color: white;
  }
  
  .pagination .page-link {
    color: #FF5E25;
  }
  
  .pagination .page-link:hover {
    background-color: #FF5E25;
    border-color: #FF5E25;
    color: white;
  }
  
  .content-list {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    list-style-type: none;
    padding-left: 20px;
  }
  
  /* Fade-in animation */
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1.15s ease forwards;
  }
  
  @keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .gold{
    margin: auto !important;
    width: 70% !important;
    margin-bottom: 20px !important;
    /* margin-top: 10px !important; */
  }
  .image-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images if needed */
  }
  
  .gallery-image {
    width: 15%; /* Base width for larger screens */
    /* object-fit: cover; */
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .gallery-image {
      width: 20%;
    }
  }
  
  @media (max-width: 992px) {
    .gallery-image {
      width: 25%;
    }
  }
  
  @media (max-width: 768px) {
    .gallery-image {
      width: 30%;
    }
  }
  
  @media (max-width: 576px) {
    .gallery-image {
      width: 40%;
    }
  }
  
  @media (max-width: 400px) {
    .gallery-image {
      width: 50%;
    }
  }
  